/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #051120;
  color: white;
  text-align: center;
  padding: 40px 0;
}
.icon {
  color: #091423;
  background-color: white;
  border-radius: 100%;
  font-size: 25px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: block;
}
*/
.link {
  color: rgb(160, 159, 159);
  margin-right: 13px;
}
.link:last-child {
  margin-right: 0;
}
.link:hover {
  color: white;
}
.footer_dark {
  padding: 30px 0;
  color: #f0f9ff;
  background-color: #282d32;
  min-height: 50px;
  margin-top: 30px;
}

.footer_dark .item.social {
  text-align: center;
}

.footer_dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer_dark .item.social > a:hover {
  opacity: 0.9;
}

.footer_dark .copyright {
  text-align: center;
  padding-top: 12px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
